<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../static/global.css" />
    <link rel="stylesheet" href="../static/about-us.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700;800&display=swap"
    />
  </head>
  <body>
    <div class="about-us5">
      <div class="navbar5">
        <a href="./homepage"> <img  s="vector-icon12" alt="" src="../static/public/vector.svg" /></a>

        <div class="search-bar5">
          <img
            class="search-icon5"
            alt=""
            src="../static/public/search-icon1@2x.png"
            id="searchIcon"
          />

          <div class="search-bar-child2"></div>
          <form action="/search-page" method="post">
          <input
            class="search-area5"
            type="text"
            placeholder="search here..."
            id="nav-search"
            name="query"
          />
        </form>

        </div>
        <a class="about-us6" href="./about-us" id="aBOUTUS">ABOUT US</a>
        <a class="about-us6" href="./categories" id="cATEGORIES"
          >CATEGORIES</a
        >
        <a class="contact-us5" href="about-us.html">CONTACT US</a>
        <div class="login10">
          <a class="login-wrapper2" href="{{session['loginlink']}}">
            <div class="login11">{{session['logintext']}}</div>
          </a>
        </div>
        <img
          class="profile-pic-icon6"
          alt=""
          src="../static/public/profile-pic4.svg"
          id="profilePicIcon"
        />
      </div>
      <div class="about-us-welcome">
        <img
          class="backgroung-img-icon"
          alt=""
          src="../static/public/backgroung-img@2x.png"
        />

        <div class="about-us-welcome-child"></div>
        <div class="we-help-you-container">
          <p class="we-help-you">We help you find great</p>
          <p class="we-help-you">food in your area</p>
        </div>
      </div>
    </div>

    <script>
      var searchIcon = document.getElementById("searchIcon");
      if (searchIcon) {
        searchIcon.addEventListener("click", function (e) {
          window.location.href = "./search-page";
        });
      }
      
      var aBOUTUS = document.getElementById("aBOUTUS");
      if (aBOUTUS) {
        aBOUTUS.addEventListener("click", function (e) {
          window.location.href = "about-us.html";
        });
      }
      
      var cATEGORIES = document.getElementById("cATEGORIES");
      if (cATEGORIES) {
        cATEGORIES.addEventListener("click", function (e) {
          window.location.href = "./categories";
        });
      }
      
      var profilePicIcon = document.getElementById("profilePicIcon");
      if (profilePicIcon) {
        profilePicIcon.addEventListener("click", function (e) {
          window.location.href = "./profile-page";
        });
      }
      </script>
  </body>
</html>
