<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../static/global.css" />
    <link rel="stylesheet" href="../static/homepage.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,500&display=swap"
    />
  </head>
  <body>
    <div class="homepage">
      <div class="component-2">
        <img
          class="carousel-img-3-icon"
          alt=""
          src="../static/public/carouselimg3@2x.png"
        /><img
          class="carousel-img-2-icon"
          alt=""
          src="../static/public/carouselimg2@2x.png"
        /><img
          class="carousel-img-1-icon"
          alt=""
          src="../static/public/carouselimg1@2x.png"
        />
      </div>
      <div class="homepage-child"></div>
      <div class="homepage-item"></div>
      <b class="categories9">Categories</b
      ><b class="recent-reviews">Recent Reviews</b
      ><img class="homepage-inner" alt="" src="../static/public/group-1.svg" />
      <div class="recent-review-2" id="recentReview2">
        <img
          class="recent-review-2-child"
          alt=""
          src="../static/public/review-star-4.svg"
        /><img
          class="recent-review-2-item"
          alt=""
          src="../static/public/review-star-4.svg"
        /><img
          class="recent-review-2-inner"
          alt=""
          src="../static/public/resto-star-3.svg"
        /><img
          class="recent-review-2-child1"
          alt=""
          src="../static/public/review-star-4.svg"
        /><img
          class="recent-review-2-child2"
          alt=""
          src="../static/public/review-star-4.svg"
        /><img
          class="recent-review-2-child3"
          alt=""
          src="../static/public/review-star-4.svg"
        /><img
          class="recent-review-2-child4"
          alt=""
          src="../static/public/review-star-3.svg"
        /><img
          class="recent-review-2-child5"
          alt=""
          src="../static/public/review-star-4.svg"
        />
        <div class="restaurant-name4">Restaurant name</div>
        <div class="recent-review-2-child6"></div>
        <img
          class="recent-review-2-child7"
          alt=""
          src="../static/public/tag-box-3.svg"
        />
        <div class="recent-review-2-child8"></div>
        <div class="tag-12">tag 1</div>
        <div class="tag-22">tag 2</div>
        <div class="tag-32">tag 3</div>
        <div class="recent-review-2-child9"></div>
        <div class="recent-review-2-child10"></div>
        <img
          class="recent-review-2-child11"
          alt=""
          src="../static/public/polygon-7.svg"
        />
        <div class="recent-review-2-child12"></div>
        <div class="recent-review-2-child13"></div>
        <img
          class="recent-review-2-child14"
          alt=""
          src="../static/public/polygon-8.svg"
        />
        <div class="recent-review-2-child15"></div>
        <div class="reviewer3">Reviewer</div>
        <div class="lorem-ipsum-sed-container">
          <p class="discover">
            lorem ipsum sed do eiusmod tempor incididunt ut labore et dolore
          </p>
          <p class="discover">
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco labo lorem ipsum
          </p>
          <p class="discover">
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim
          </p>
          <p class="discover">veniam, quis nostrud exercitation ullamco labo</p>
        </div>
      </div>
      <div class="recent-review-1" id="recentReview1">
        <div class="recent-review-1-child"></div>
        <div class="recent-review-1-item"></div>
        <img
          class="recent-review-1-inner"
          alt=""
          src="../static/public/polygon-7.svg"
        />
        <div class="recent-review-1-child1"></div>
        <div class="recent-review-1-child2"></div>
        <img
          class="recent-review-1-child3"
          alt=""
          src="../static/public/polygon-8.svg"
        />
        <div class="recent-review-1-child4"></div>
        <div class="reviewer4">Reviewer</div>
        <div class="lorem-ipsum-sed-container1">
          <p class="discover">
            lorem ipsum sed do eiusmod tempor incididunt ut labore et dolore
          </p>
          <p class="discover">
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco labo lorem ipsum
          </p>
          <p class="discover">
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim
          </p>
          <p class="discover">veniam, quis nostrud exercitation ullamco labo</p>
        </div>
        <img
          class="image-20-icon"
          alt=""
          src="../static/public/review-pic-1@2x.png"
        /><img
          class="image-21-icon"
          alt=""
          src="../static/public/review-pic-2@2x.png"
        /><img
          class="image-22-icon"
          alt=""
          src="../static/public/review-pic-3@2x.png"
        /><img
          class="review-star-43"
          alt=""
          src="../static/public/review-star-4.svg"
        /><img
          class="review-star-33"
          alt=""
          src="../static/public/review-star-3.svg"
        /><img
          class="review-star-22"
          alt=""
          src="../static/public/review-star-4.svg"
        /><img
          class="review-star-13"
          alt=""
          src="../static/public/review-star-4.svg"
        /><img class="resto-img-icon1" alt="" src="../static/public/resto-img@2x.png" />
        <div class="restaurant-name5">Restaurant name</div>
        <img class="tag-box-31" alt="" src="../static/public/tag-box-3.svg" />
        <div class="tag-box-21"></div>
        <div class="tag-box-11"></div>
        <div class="tag-text-21">tag 2</div>
        <div class="tag-text-31">tag 3</div>
        <div class="tag-text-11">tag 1</div>
        <img
          class="resto-star-42"
          alt=""
          src="../static/public/review-star-4.svg"
        /><img
          class="resto-star-32"
          alt=""
          src="../static/public/resto-star-3.svg"
        /><img
          class="resto-star-22"
          alt=""
          src="../static/public/review-star-4.svg"
        /><img class="resto-star-12" alt="" src="../static/public/review-star-4.svg" />
      </div>
      <div class="homepage-child1"></div>
      <img class="image-5-icon2" alt="" src="../static/public/image-4@2x.png" />
      <div class="homepage-child2"></div>
      <b class="discover-your-taste-container"
        ><p class="discover">Discover</p>
        <p class="discover">your taste!</p></b
      >
      <div class="navbar8">
        <div class="navbar-child28"></div>
        <img class="logo-icon8" alt="" src="../static/public/logo1.svg" />
        <div class="about-us9" id="aBOUTUSText">ABOUT US</div>
        <div class="categories10" id="cATEGORIESText">CATEGORIES</div>
        <div class="contact-us8">CONTACT US</div>
        <div class="navbar-child29" id="rectangle17"></div>
        <div class="login9">Login</div>
        <div class="navbar-child30"></div>
        <img
          class="image-1-icon8"
          alt=""
          src="../static/public/image-1@2x.png"
          id="image1Icon"
        />
        <div class="navbar-child31"></div>
        <div class="type-in-your8">Type in your craving...</div>
        <img
          class="noun-profile-picture-3278830-1-icon8"
          alt=""
          src="../static/public/nounprofilepicture3278830-18.svg"
          id="nounProfilePicture32788301Icon"
        />
      </div>
    </div>

    <script>
      var recentReview2 = document.getElementById("recentReview2");
      if (recentReview2) {
        recentReview2.addEventListener("click", function (e) {
          window.location.href = "./restaurant-page";
        });
      }
      
      var recentReview1 = document.getElementById("recentReview1");
      if (recentReview1) {
        recentReview1.addEventListener("click", function (e) {
          window.location.href = "./restaurant-page";
        });
      }
      
      var aBOUTUSText = document.getElementById("aBOUTUSText");
      if (aBOUTUSText) {
        aBOUTUSText.addEventListener("click", function (e) {
          window.location.href = "./about-us";
        });
      }
      
      var cATEGORIESText = document.getElementById("cATEGORIESText");
      if (cATEGORIESText) {
        cATEGORIESText.addEventListener("click", function (e) {
          window.location.href = "./categories";
        });
      }
      
      var rectangle17 = document.getElementById("rectangle17");
      if (rectangle17) {
        rectangle17.addEventListener("click", function (e) {
          window.location.href = "./login-page";
        });
      }
      
      var image1Icon = document.getElementById("image1Icon");
      if (image1Icon) {
        image1Icon.addEventListener("click", function (e) {
          window.location.href = "./search-page";
        });
      }
      
      var nounProfilePicture32788301Icon = document.getElementById(
        "nounProfilePicture32788301Icon"
      );
      if (nounProfilePicture32788301Icon) {
        nounProfilePicture32788301Icon.addEventListener("click", function (e) {
          window.location.href = "./profile-page";
        });
      }
      </script>
  </body>
</html>
