<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../static/global.css" />
    <link rel="stylesheet" href="../static/profile-page.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,500&display=swap"
    />
  </head>
  <body>
    <div class="profile-page">
      <img
        class="separator-line-icon"
        alt=""
        src="../static/public/separator-line.svg"
      />
      <div class="about-text">
        <p class="just-a-generic">Just a generic foodie looking for</p>
        <p class="just-a-generic">new good places to eat, love to</p>
        <p class="just-a-generic">eat italian cuisine!</p>
      </div>
      <div class="about">About:</div>
      <div class="email-examplegmailcom">
        <span class="email">Email: </span
        ><span class="examplegmailcom">{{user['email']}}</span>
      </div>
      <b class="username">Username</b><b class="name">{{user['username']}}</b
      ><img
        class="profile-pic-icon"
        alt=""
        src="../static/public/profile-pic.svg"
      /><img class="edit-icon" alt="" src="../static/public/edit-icon.svg" />
      <div class="recent-review">
        <div class="review-card-box"></div>
        <div class="downvote">
          <div class="downvote-child"></div>
          <img class="downvote-item" alt="" src="../static/public/polygon-8.svg" />
          <div class="downvote-inner"></div>
        </div>
        <div class="upvote">
          <div class="upvote-child"></div>
          <img class="upvote-item" alt="" src="../static/public/polygon-7.svg" />
          <div class="upvote-inner"></div>
        </div>
        <div class="review-text">
          <p class="just-a-generic">
            lorem ipsum sed do eiusmod tempor incididunt ut labore et dolore
          </p>
          <p class="just-a-generic">
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco labo lorem ipsum
          </p>
          <p class="just-a-generic">
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim
          </p>
          <p class="just-a-generic">
            veniam, quis nostrud exercitation ullamco labo
          </p>
        </div>
        <img
          class="review-star-4"
          alt=""
          src="../static/public/review-star-4.svg"
        /><img
          class="review-star-3"
          alt=""
          src="../static/public/review-star-3.svg"
        /><img
          class="reviewe-star-2"
          alt=""
          src="../static/public/review-star-4.svg"
        /><img class="review-star-1" alt="" src="../static/public/review-star-4.svg" />
        <div class="reviewer">Reviewer</div>
      </div>
      <div class="recently-reviewed">Recently reviewed</div>
      <div class="large-resto-card-3">
        <div class="card-box"></div>
        <img class="resto-img-icon" alt="" src="../static/public/resto-img@2x.png" />
        <div class="review-text1">
          <p class="just-a-generic">
            top review: Yo-Kai Express really surprised me. I was expecting
            glorified top ramen, but this was actually pretty good! I got the
            garlic one, and it was solid - I've certainly had better, but…”
          </p>
          <p class="just-a-generic">&nbsp;</p>
          <p class="just-a-generic"></p>
        </div>
        <div class="openclosed-until">Open/Closed until</div>
        <img class="resto-star-4" alt="" src="../static/public/review-star-4.svg" /><img
          class="resto-star-3"
          alt=""
          src="../static/public/resto-star-3.svg"
        /><img
          class="resto-star-2"
          alt=""
          src="../static/public/review-star-4.svg"
        /><img
          class="resto-star-1"
          alt=""
          src="../static/public/review-star-4.svg"
        /><img class="tag-box-3" alt="" src="../static/public/tag-box-3.svg" />
        <div class="tag-box-2"></div>
        <div class="tag-box-1"></div>
        <div class="tag-text-3">tag 3</div>
        <div class="tag-text-2">tag 2</div>
        <div class="tag-text-1">tag 1</div>
        <div class="restaurant-name">Restaurant name</div>
      </div>
      <div class="recently-visited">Recently visited</div>
      <div class="navbar1">
        <div class="rectangle-div"></div>
        <img class="logo-icon1" alt="" src="../static/public/logo1.svg" />
        <div class="about-us1" id="aBOUTUSText">ABOUT US</div>
        <div class="categories1" id="cATEGORIESText">CATEGORIES</div>
        <div class="contact-us1">CONTACT US</div>
        <div class="navbar-child1" id="rectangle5"></div>
        <div class="login1">Login</div>
        <div class="navbar-child2"></div>
        <img
          class="image-1-icon1"
          alt=""
          src="../static/public/image-1@2x.png"
          id="image1Icon"
        />
        <div class="navbar-child3"></div>
        <div class="type-in-your1">Type in your craving...</div>
        <img
          class="noun-profile-picture-3278830-1-icon1"
          alt=""
          src="../static/public/nounprofilepicture3278830-11.svg"
          id="nounProfilePicture32788301Icon"
        />
      </div>
    </div>

    <script>
      var aBOUTUSText = document.getElementById("aBOUTUSText");
      if (aBOUTUSText) {
        aBOUTUSText.addEventListener("click", function (e) {
          window.location.href = "./about-us";
        });
      }
      
      var cATEGORIESText = document.getElementById("cATEGORIESText");
      if (cATEGORIESText) {
        cATEGORIESText.addEventListener("click", function (e) {
          window.location.href = "./categories";
        });
      }
      
      var rectangle5 = document.getElementById("rectangle5");
      if (rectangle5) {
        rectangle5.addEventListener("click", function (e) {
          window.location.href = "./login-page";
        });
      }
      
      var image1Icon = document.getElementById("image1Icon");
      if (image1Icon) {
        image1Icon.addEventListener("click", function (e) {
          window.location.href = "./search-page";
        });
      }
      
      var nounProfilePicture32788301Icon = document.getElementById(
        "nounProfilePicture32788301Icon"
      );
      if (nounProfilePicture32788301Icon) {
        nounProfilePicture32788301Icon.addEventListener("click", function (e) {
          window.location.href = "profile-page";
        });
      }
      </script>
  </body>
</html>
