<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../static/global.css" />
    <link rel="stylesheet" href="../static/restaurant-page.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,500&display=swap"
    />
  </head>
  <body>
    <div class="restaurant-page">
      <div class="resto-cover2">
        <img class="image-5-icon1" alt="" src="../static/public/image-5@2x.png" /><img
          class="image-6-icon1"
          alt=""
          src={{images[0].image_url}}
        /><img class="image-7-icon1" alt="" src="../static/public/image-7@2x.png" /><img
          class="image-8-icon1"
          alt=""
          src="{{images[1].image_url}}"
        /><img class="image-9-icon1" alt="" src="../static/public/image-9@2x.png" />
        <div class="resto-cover3"></div>
      </div>
      <img class="resto-logo-icon" alt="" src="../static/public/resto-logo@2x.png" />
      <div class="tag1-tag2-tag3">$$$ {{restaurant.tags}}</div>
      <img class="resto-star-5" alt="" src="../static/public/review-star-4.svg" /><img
        class="resto-star-41"
        alt=""
        src="../static/public/review-star-4.svg"
      /><img
        class="resto-star-31"
        alt=""
        src="../static/public/review-star-4.svg"
      /><img
        class="resto-star-21"
        alt=""
        src="../static/public/review-star-4.svg"
      /><img class="resto-star-11" alt="" src="../static/public/review-star-4.svg" />
      <div class="review-count">{{num_reviews}} reviews</div>
      <div class="restaurant-name1">{{restaurant.name}}</div>
      <a class="location"
        ><div class="location-child"></div>
        <img class="image-10-icon" alt="" src="../static/public/image-10@2x.png" />
        <div class="address">Address</div>
        <div class="lorem-ipsum-dolor-container">
          <p class="lorem-ipsum-dolor">{{restaurant.address}}</p>
          <!-- <p class="lorem-ipsum-dolor">consectetur</p>
          <p class="lorem-ipsum-dolor">&nbsp;</p>
          <p class="lorem-ipsum-dolor">Excepteur sint occaecat cupidatat.</p>
          <p class="lorem-ipsum-dolor">&nbsp;</p>
          <p class="lorem-ipsum-dolor">110213</p> -->
        </div></a  
      >
      <div class="review-1">
        <div class="review-card-box1"></div>
        <div class="downvote1">
          <div class="downvote-child1"></div>
          <img class="polygon-icon" alt="" src="../static/public/polygon-8.svg" />
          <div class="downvote-child2"></div>
        </div>
        <div class="upvote1">
          <div class="upvote-child1"></div>
          <img class="upvote-child2" alt="" src="../static/public/polygon-7.svg" />
          <div class="upvote-child3"></div>
        </div>
        <img
          class="review-pic-3"
          alt=""
          src="../static/public/review-pic-3@2x.png"
        /><img
          class="review-pic-2"
          alt=""
          src="../static/public/review-pic-2@2x.png"
        /><img class="review-pic-1" alt="" src="../static/public/review-pic-1@2x.png" />
        <div class="review-text2">
          <p class="lorem-ipsum-dolor">
            Mast khana tha bhai lorem ipsum sed do eiusmod tempor incididunt ut
            labore et dolore
          </p>
          <p class="lorem-ipsum-dolor">
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco labo lorem ipsum
          </p>
          <p class="lorem-ipsum-dolor">
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim
          </p>
          <p class="lorem-ipsum-dolor">
            veniam, quis nostrud exercitation ullamco labo
          </p>
        </div>
        <img
          class="review-star-41"
          alt=""
          src="../static/public/review-star-4.svg"
        /><img
          class="review-star-31"
          alt=""
          src="../static/public/review-star-3.svg"
        /><img
          class="review-star-2"
          alt=""
          src="../static/public/review-star-4.svg"
        /><img class="review-star-11" alt="" src="../static/public/review-star-4.svg" />
        <div class="reviewer1">Reviewer</div>
      </div>
      <div class="review-2">
        <div class="review-card-box2"></div>
        <div class="upvote2">
          <div class="upvote-child1"></div>
          <img class="upvote-child2" alt="" src="../static/public/polygon-7.svg" />
          <div class="upvote-child3"></div>
        </div>
        <div class="downvote2">
          <div class="downvote-child1"></div>
          <img class="polygon-icon" alt="" src="../static/public/polygon-8.svg" />
          <div class="downvote-child2"></div>
        </div>
        <div class="review-text2">
          <p class="lorem-ipsum-dolor">
            Mast khana tha bhai lorem ipsum sed do eiusmod tempor incididunt ut
            labore et dolore
          </p>
          <p class="lorem-ipsum-dolor">
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco labo lorem ipsum
          </p>
          <p class="lorem-ipsum-dolor">
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim
          </p>
          <p class="lorem-ipsum-dolor">
            veniam, quis nostrud exercitation ullamco labo
          </p>
        </div>
        <img
          class="review-star-41"
          alt=""
          src="../static/public/review-star-4.svg"
        /><img
          class="review-star-31"
          alt=""
          src="../static/public/review-star-3.svg"
        /><img
          class="review-star-2"
          alt=""
          src="../static/public/review-star-4.svg"
        /><img class="review-star-11" alt="" src="../static/public/review-star-4.svg" />
        <div class="reviewer1">Reviewer</div>
      </div>
      <div class="write-a-review-box"></div>
      <div class="write-a-review">Write a review!</div>
      <div class="share-box"></div>
      <div class="share">Share</div>
      <div class="navbar2">
        <div class="navbar-child4"></div>
        <img class="logo-icon2" alt="" src="../static/public/logo1.svg" />
        <div class="about-us2" id="aBOUTUSText">ABOUT US</div>
        <div class="categories2" id="cATEGORIESText">CATEGORIES</div>
        <div class="contact-us2">CONTACT US</div>
        <div class="navbar-child5" id="rectangle10"></div>
        <div class="login2">Login</div>
        <div class="navbar-child6"></div>
        <img
          class="image-1-icon2"
          alt=""
          src="../static/public/image-1@2x.png"
          id="image1Icon"
        />
        <div class="navbar-child7"></div>
        <div class="type-in-your2">Type in your craving...</div>
        <img
          class="noun-profile-picture-3278830-1-icon2"
          alt=""
          src="../static/public/nounprofilepicture3278830-12.svg"
          id="nounProfilePicture32788301Icon"
        />
      </div>
    </div>

    <script>
      var aBOUTUSText = document.getElementById("aBOUTUSText");
      if (aBOUTUSText) {
        aBOUTUSText.addEventListener("click", function (e) {
          window.location.href = "/about-us";
        });
      }
      
      var cATEGORIESText = document.getElementById("cATEGORIESText");
      if (cATEGORIESText) {
        cATEGORIESText.addEventListener("click", function (e) {
          window.location.href = "/categories";
        });
      }
      
      var rectangle10 = document.getElementById("rectangle10");
      if (rectangle10) {
        rectangle10.addEventListener("click", function (e) {
          window.location.href = "/login-page";
        });
      }
      
      var image1Icon = document.getElementById("image1Icon");
      if (image1Icon) {
        image1Icon.addEventListener("click", function (e) {
          window.location.href = "/search-page";
        });
      }
      
      var nounProfilePicture32788301Icon = document.getElementById(
        "nounProfilePicture32788301Icon"
      );
      if (nounProfilePicture32788301Icon) {
        nounProfilePicture32788301Icon.addEventListener("click", function (e) {
          window.location.href = "/profile-page";
        });
      }
      </script>
  </body>
</html>
