<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../static/global.css" />
    <link rel="stylesheet" href="../static/search-page.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,500&display=swap"
    />
  </head>
  <body>
    <div class="search-page">
      <a class="large-card-2" id="largeCard2"
        ><div class="large-card-2-child"></div>
        <div class="large-card-2-item"></div>
        <img class="large-card-2-inner" alt="" src="../static/public/tag-box-3.svg" />
        <div class="large-card-2-child1"></div>
        <div class="restaurant-name2">Restaurant name</div>
        <div class="tag-1">tag 1</div>
        <div class="tag-2">tag 2</div>
        <div class="tag-3">tag 3</div>
        <div class="openclosed-until1">Open/Closed until</div>
        <div class="top-review-yo-kai-container">
          <p class="pretty-good-i">
            top review: Yo-Kai Express really surprised me. I was expecting
            glorified top ramen, but this was actually
          </p>
          <p class="pretty-good-i">
            pretty good! I got the garlic one, and it was solid - I've certainly
            had better, but…”
          </p>
          <p class="pretty-good-i">&nbsp;</p>
          <p class="pretty-good-i"></p>
        </div>
        <img class="image-4-icon" alt="" src="../static/public/image-4@2x.png" /><img
          class="star-icon"
          alt=""
          src="../static/public/review-star-4.svg" /><img
          class="large-card-2-child2"
          alt=""
          src="../static/public/review-star-4.svg" /><img
          class="large-card-2-child3"
          alt=""
          src="../static/public/star-7.svg" /><img
          class="large-card-2-child4"
          alt=""
          src="../static/public/review-star-4.svg" /></a
      ><a class="large-card-1" id="largeCard1"
        ><div class="large-card-2-child"></div>
        <div class="large-card-2-child"></div>
        <div class="large-card-2-item"></div>
        <img class="large-card-2-inner" alt="" src="../static/public/tag-box-3.svg" />
        <div class="large-card-2-child1"></div>
        <img class="image-3-icon" alt="" src="../static/public/resto-img@2x.png" />
        <div class="restaurant-name2">Restaurant name</div>
        <div class="tag-1">tag 1</div>
        <div class="tag-2">tag 2</div>
        <div class="tag-3">tag 3</div>
        <div class="openclosed-until1">Open/Closed until</div>
        <div class="top-review-yo-kai-container">
          <p class="pretty-good-i">
            top review: Yo-Kai Express really surprised me. I was expecting
            glorified top ramen, but this was actually
          </p>
          <p class="pretty-good-i">
            pretty good! I got the garlic one, and it was solid - I've certainly
            had better, but…”
          </p>
          <p class="pretty-good-i">&nbsp;</p>
          <p class="pretty-good-i"></p>
        </div>
        <img
          class="large-card-1-child2"
          alt=""
          src="../static/public/review-star-4.svg" /><img
          class="large-card-1-child3"
          alt=""
          src="../static/public/review-star-4.svg" /><img
          class="large-card-1-child4"
          alt=""
          src="../static/public/resto-star-3.svg" /><img
          class="large-card-1-child5"
          alt=""
          src="../static/public/review-star-4.svg"
      /></a>
      <div class="showing-results-for">Showing results for “Search”</div>
      <div class="navbar3">
        <div class="navbar-child8"></div>
        <img class="logo-icon3" alt="" src="../static/public/logo1.svg" />
        <div class="about-us3" id="aBOUTUSText">ABOUT US</div>
        <div class="categories3" id="cATEGORIESText">CATEGORIES</div>
        <div class="contact-us3">CONTACT US</div>
        <div class="navbar-child9" id="rectangle10"></div>
        <div class="login3">Login</div>
        <div class="navbar-child10"></div>
        <img
          class="image-1-icon3"
          alt=""
          src="../static/public/image-1@2x.png"
          id="image1Icon"
        />
        <div class="navbar-child11"></div>
        <div class="type-in-your3">Type in your craving...</div>
        <img
          class="noun-profile-picture-3278830-1-icon3"
          alt=""
          src="../static/public/nounprofilepicture3278830-13.svg"
          id="nounProfilePicture32788301Icon"
        />
      </div>
    </div>

    <script>
      var largeCard2 = document.getElementById("largeCard2");
      if (largeCard2) {
        largeCard2.addEventListener("click", function (e) {
          window.location.href = "./restaurant-page";
        });
      }
      
      var largeCard1 = document.getElementById("largeCard1");
      if (largeCard1) {
        largeCard1.addEventListener("click", function (e) {
          window.location.href = "./restaurant-page";
        });
      }
      
      var aBOUTUSText = document.getElementById("aBOUTUSText");
      if (aBOUTUSText) {
        aBOUTUSText.addEventListener("click", function (e) {
          window.location.href = "./about-us";
        });
      }
      
      var cATEGORIESText = document.getElementById("cATEGORIESText");
      if (cATEGORIESText) {
        cATEGORIESText.addEventListener("click", function (e) {
          window.location.href = "./categories";
        });
      }
      
      var rectangle10 = document.getElementById("rectangle10");
      if (rectangle10) {
        rectangle10.addEventListener("click", function (e) {
          window.location.href = "./login-page";
        });
      }
      
      var image1Icon = document.getElementById("image1Icon");
      if (image1Icon) {
        image1Icon.addEventListener("click", function (e) {
          window.location.href = "search-page";
        });
      }
      
      var nounProfilePicture32788301Icon = document.getElementById(
        "nounProfilePicture32788301Icon"
      );
      if (nounProfilePicture32788301Icon) {
        nounProfilePicture32788301Icon.addEventListener("click", function (e) {
          window.location.href = "./profile-page";
        });
      }
      </script>
  </body>
</html>
